.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 412px;
  height: 60vh;
  .chat-messages {
    border-radius: 50px;
    overflow-y: scroll;
    height: 430px;
    background-color: #f3f3f3;
    .chat-messages-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
    .chat-messages-right-column {
      flex: 0 50%;
      padding: 25px;
      justify-content: center;
      align-items: center;
    }
    .chat-messages-left-column {
      flex: 1 50%;
      padding: 25px;
      justify-content: center;
      align-items: center;
    }
  }
  .chat-messages::-webkit-scrollbar {
    display: none;
  }
  .chat-bottom {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    .chat-text-input {
      line-height: 1.6;
      margin: auto;
      overflow: scroll;
      outline: 0;
      border: none;
      text-indent: 25px;
      border-radius: 50px;
      border: none;
      width: 320px;
      min-height: 60px;
      background-color: $off-grey;
      font-weight: normal;
      color: black;
    }
    .chat-send {
      display: flex;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      border: none;
      outline: 0;
      background-color: $off-grey;
      .chat-send:disabled {
        margin: auto;
        opacity: 0.1;
      }
      .chat-send-icon {
        margin: auto;
        color: $accent-color;
      }
    }
  }
}
